@charset "utf-8";

/************************** BASE STRUCTURE *****************************/

body {
    margin: 0;
    font-family: 'Lexend', sans-serif;
    font-size: clamp(14px, 1.2vw, 16px);
}

/************************** TOP NAVIGATION BAR *************************/

.topnav, main {
    padding: 20px clamp(20px, 5vw, 100px);
}

.topnav{
    display: grid;
    grid-template-columns: 30% auto 30%;
    align-items: center;
}

.logo{
    width: 260px;
    height: auto;
    grid-column: 1;
    justify-self: start;
    max-width: 100%;
}

.search-form{
    grid-column: 2;
    justify-self: center;
    width: 100%;
}

.search_icon{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.search{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    font-size: 1rem;
    display: flex;
    align-items: center;
    padding: 14px;
    border-radius: 28px;
    background: #F3EFE5;
    box-sizing: border-box;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    font-family: 'Lexend', sans-serif;
    color: #4F585E;
    margin-left: 14px;
    border: none;
    outline: none;
    background: #F3EFE5;
}

.user-actions{
    grid-column: 3;
    justify-self: end;
}

.user_icon{
    width: 30px;
    height: 30px;
    margin-right: 25px;
}

.heart_icon{
    width: 30px;
    height: 30px;
    margin-right: 25px;
}

.cart_icon{
    width: 30px;
    height: 30px;
}

/******************************* FOOTER ********************************/

footer{
    padding: 20px clamp(20px, 5vw, 100px);
    height: auto;
    min-height: 400px;
    background-color: #85997F;
    display: grid;
    grid-template-columns: 40% 60%;
}

.social_media{
    text-align: center;
    background-color: #DFDED8;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 5px;
    height: auto;
    min-height: 40px;
}

.icon_ig, .icon_fb, .icon_tiktok{
    width: 24px;
    height: auto;
}

.sub_info{
    text-align: left;
    min-width: 0;
}

.email_banner{
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-top: 50px;
}

.sub_icon{
    width: 24px;
    height: 24px;
}

.sub_form{
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    padding: 14px;
    border-radius: 28px;
    background: #F3EFE5;
    box-sizing: border-box;
}

.sub_email{
    width: 100%;
    font-size: 1rem;
    font-family: 'Lexend', sans-serif;
    color: #4F585E;
    border: none;
    outline: none;
    background: #F3EFE5;
}

.other_links{
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
    background-color: #85997F;
    margin-top: 30px;
    min-width: 0;
}

h2 {
    font-size: clamp(1.2rem, 2vw, 1.5rem);
    margin-top: 0;
}

ul{
    list-style: none;
    padding: 30px;
}

ul li{
    margin-bottom: 25px;
}

ul a{
    text-decoration: none;
    color: black;
}

ul a:hover{
    color: #F3EFE5;
}


/**********************************************************************/
/**********************************************************************/
/********************** MOBILE SCREEN RESPONSIVENESS ******************/
/**********************************************************************/
/**********************************************************************/


@media screen and (max-width: 1024px) {

    .topnav, main, footer {
        padding: 20px;
    }

    .topnav {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .logo {
    grid-column: 1;
    grid-row: 1;
    justify-self: start;
    }
    
    .search-form {
    grid-column: 1 / span 2;
    grid-row: 2;
    justify-self: center;
    }
    
    .user-actions {
    grid-column: 2;
    grid-row: 1;
    justify-self: end;
}

    .user-actions {
        display: flex;
        gap: 15px; 
    }
    
    .user_icon, .heart_icon {
        margin-right: 0;
    }

    .social_media {
        gap: 10px;
    }

    .user_icon, .heart_icon, .cart_icon, .icon_fb, .icon_ig, .icon_tiktok {
        width: 24px;
        height: 24px;
    }

    footer {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .other_links {
        grid-template-columns: 1fr;
        gap: 20px;
    }
    
    .sub_info {
        text-align: center;
    }
    
    .email_banner, .sub_form {
        margin-left: auto;
        margin-right: auto;
    }
}